﻿@using Pebble.MainWebSite.Models
@using Pebble.Resources
@model SearchModel
 
@switch (Model.ResultView)
{
	case ResultView.Messages:
		if (Model.Messages != null)
		{
			foreach (var messageItem in Model.Messages)
			{
				<div class="FloatLeft TopPad5 FullWidth">
					@Html.Partial("_MessageSearchItem", messageItem)
				</div>
				<br class="Clear" />
				<br class="Clear" />
			}
			if (Model.HasMoreMessages)
			{
			    <div class="SearchResultsPager" id="MessageDetailsPgr">
					<a href="@Url.Action("GetAdditionalSearchResults", "Search")" id="lnkMessagesDetailsViewMore" class="GlobalModalSearchMoreLnk">@Search.ViewMoreMessages</a>
			        @*@Html.ActionLink(Search.ViewMoreMessages, "GetAdditionalSearchResults", "Search", null, new { @id = "lnkMessagesDetailsViewMore", @class = "GlobalModalSearchMoreLnk" })*@

			        <br class="Clear" />
			        <br class="Clear" />
			    </div>
			}
		}
		break;
	case ResultView.Groups:
		if (Model.Groups != null)
		{
			for (var index = 0; index < Model.Groups.Count; index++)
			{
				var groupItem = Model.Groups[index];
				if (index % 2 == 0)
				{
					<div class="FloatLeft Width48PC TopPad5">
						@Html.Partial("_GroupSearchItem", groupItem)
					</div>
					if (index == Model.Groups.Count - 1)
					{
						<br class="Clear" />
						<br class="Clear" />
					}
				}
				else
				{
					<div class="FloatRight Width48PC TopPad5">
						@Html.Partial("_GroupSearchItem", groupItem)
					</div>
					<br class="Clear" />
					<br class="Clear" />
				}
			}
			if (Model.HasMoreGroups)
			{
			    <div class="SearchResultsPager" id="GroupsDetailsPgr">
					<a href="@Url.Action("GetAdditionalSearchResults", "Search")" id="lnkGroupsDetailsViewMore" class="GlobalModalSearchMoreLnk">@Search.ViewMoreGroups</a>
			        
			        @*@Html.ActionLink(Search.ViewMoreGroups, "GetAdditionalSearchResults", "Search", null, new { @id = "lnkGroupsDetailsViewMore", @class = "GlobalModalSearchMoreLnk" })*@
			        <br class="Clear" />
			        <br class="Clear" />
			    </div>
			}
		}
		break;
	case ResultView.Profile:
		if (Model.Profiles != null)
		{
			for (var index = 0; index < Model.Profiles.Count; index++)
			{
				var memberItem = Model.Profiles[index];
				if (index % 2 == 0)
				{
					<div class="FloatLeft Width48PC TopPad5">
						@Html.Partial("_ProfileSearchItem", memberItem)
					</div>
					if (index == Model.Profiles.Count - 1)
					{ 
						<br class="Clear" />
						<br class="Clear" />
					}
				}
				else
				{
					<div class="FloatRight Width48PC TopPad5">
						@Html.Partial("_ProfileSearchItem", memberItem)
					</div>
					<br class="Clear" />
					<br class="Clear" />
				}
			}
			if (Model.HasMoreProfiles)
			{
			    <div class="SearchResultsPager" id="UsersDetailsPgr">
					<a href="@Url.Action("GetAdditionalSearchResults", "Search")" id="lnkUsersDetailsViewMore" class="GlobalModalSearchMoreLnk">@Search.ViewMoreUsers</a>
			        
			        @*@Html.ActionLink(Search.ViewMoreUsers, "GetAdditionalSearchResults", "Search", null, new { @id = "lnkUsersDetailsViewMore", @class = "GlobalModalSearchMoreLnk" })*@
			        <br class="Clear" />
			        <br class="Clear" />
			    </div>
			}
		}
		break;
	default:
        goto case ResultView.Profile;
	 
}