﻿@using Pebble.Resources
@model Pebble.MainWebSite.Models.AdvancedSearch

<style>
#ui-datepicker-div {
	font-size: 12px;
}
</style>

<div id="divCriteria">
	&nbsp;
	<div id="divSearchCriteria" class="Pad20">
		@Html.Partial("_AdvancedSearchFields", Model)
		@Html.HiddenFor(m => m.SimpleSearchCriteria, new { id = "searchText" })
		<br class="Clear" />
		<br class="Clear" />
		<div class="ProfileSearchHeading TopPad10 LightGreyBackground">
			<div class="FloatLeft SearchHeading Bold Width48PC BottomPad10">@Search.ProfileSearchHeading</div>
			@*<div class="FloatLeft Width48PC TextRightAlign">
				@Html.ActionLink(Search.BackToSearchResults, "Summary", "Search", new { simpleSearchCriteria = @Model.SimpleSearchCriteria }, new { id = "lnkProfileBackToResults", @class = "SearchLinkButton" })
			</div>*@
			<br class="Clear" />
		</div>
		<div class="ProfileSearchDiv WhiteBackground FullWidth Pad20">
			<div class="TopPad10 Width48PC FloatLeft">
				<div class="FloatLeft Width48PC SearchRegularText">@Search.EnterKeyword</div>
				<div class="FloatRight Width48PC LeftPad5">
					@Html.TextBoxFor(m => m.ProfileSearch.ProfileSearchText, new { id = "AdvancedSearchtxtProfile", @class = "FloatLeft FullWidth SearchTextBoxNoWidth", @placeholder = Search.AdvancedProfileSearchWatermark })
				</div>
			</div>
			<div class="TopPad10 Width48PC FloatLeft">
				<div class="FloatLeft LeftPad20"><a href="javascript:void(0);" id="lnkProfileSelectAll" class="SearchLinkButton">@Search.SelectAll</a></div>
				<div class="FloatLeft LeftPad20"><a href="javascript:void(0);" id="lnkProfileClearAll" class="SearchLinkButton">@Search.ClearAll</a></div>
			</div>
			<br class="Clear" />
			<br class="Clear" />
			<div id="divProfileSearch">
				<div class="QuarterWidth FloatLeft">
					<div class="SearchNormalBoldText Bold FullWidth FloatLeft">@Search.ProfileInformation</div>
					<div class="SearchMediumText FullWidth FloatLeft TopPad10">
						@Html.CheckBoxFor(m => m.ProfileSearch.SearchJobTitle, new { id = "chkSearchJobTitle", @class = "FloatLeft ProfileSearchOption" })<div class="LeftPad20 SearchMediumText">@Search.JobTitle</div>
					</div>
					<div class="BlackText FullWidth FloatLeft TopPad5">
						@Html.CheckBoxFor(m => m.ProfileSearch.SearchLocation, new { id = "chkSearchLocation", @class = "FloatLeft ProfileSearchOption" })<div class="LeftPad20 SearchMediumText">@Search.Location</div>
					</div>
					<div class="BlackText FullWidth FloatLeft TopPad5">
						@Html.CheckBoxFor(m => m.ProfileSearch.SearchProjects, new { id = "chkSearchProjects", @class = "FloatLeft ProfileSearchOption" })<div class="LeftPad20 SearchMediumText">@Search.Projects</div>
					</div>
					<div class="BlackText FullWidth FloatLeft TopPad5">
						@Html.CheckBoxFor(m => m.ProfileSearch.SearchResp, new { id = "chkSearchResp", @class = "FloatLeft ProfileSearchOption" })<div class="LeftPad20 SearchMediumText">@Search.AreasOfResponsibility</div>
					</div>
					<div class="BlackText FullWidth FloatLeft TopPad5">
						@Html.CheckBoxFor(m => m.ProfileSearch.SearchExpertise, new { id = "chkSearchWorkExpertise", @class = "FloatLeft ProfileSearchOption" })<div class="LeftPad20 SearchMediumText">@Search.WorkExpertise</div>
					</div>
					<div class="BlackText FullWidth FloatLeft TopPad5">
						@Html.CheckBoxFor(m => m.ProfileSearch.SearchWorkPhone, new { id = "chkSearcWorkPhone", @class = "FloatLeft ProfileSearchOption" })<div class="LeftPad20 SearchMediumText">@Search.WorkPhone</div>
					</div>
					<div class="BlackText FullWidth FloatLeft TopPad5">
						@Html.CheckBoxFor(m => m.ProfileSearch.SearchCellPhone, new { id = "chkSearchCellPhone", @class = "FloatLeft ProfileSearchOption" })<div class="LeftPad20 SearchMediumText">@Search.CellPhone</div>
					</div>
					<div class="BlackText FullWidth FloatLeft TopPad5">
						@Html.CheckBoxFor(m => m.ProfileSearch.SearchFax, new { id = "chkSearchFaxNumber", @class = "FloatLeft ProfileSearchOption" })<div class="LeftPad20 SearchMediumText">@Search.FaxNumber</div>
					</div>
					<div class="BlackText FullWidth FloatLeft TopPad5">
						@Html.CheckBoxFor(m => m.ProfileSearch.SearchMobileDeviceType, new { id = "chkSearchMobileDeviceType", @class = "FloatLeft ProfileSearchOption" })<div class="LeftPad20 SearchMediumText">@Search.MobileDeviceType</div>
					</div>
				</div>
				<div class="QuarterWidth FloatLeft">
					<div class="SearchNormalBoldText Bold FullWidth FloatLeft">@Search.PersonalInformation</div>
					<div class="BlackText FullWidth FloatLeft TopPad10">
						@Html.CheckBoxFor(m => m.ProfileSearch.SearchActivities, new { id = "chkSearchActivities", @class = "FloatLeft ProfileSearchOption" })<div class="LeftPad20 SearchMediumText">@Search.Activities</div>
					</div>
					<div class="BlackText FullWidth FloatLeft TopPad5">
						@Html.CheckBoxFor(m => m.ProfileSearch.SearchInterests, new { id = "chkSearchInterests", @class = "FloatLeft ProfileSearchOption" })<div class="LeftPad20 SearchMediumText">@Search.Interests</div>
					</div>
					<div class="BlackText FullWidth FloatLeft TopPad5">
						@Html.CheckBoxFor(m => m.ProfileSearch.SearchAboutMe, new { id = "chkSearchAboutMe", @class = "FloatLeft ProfileSearchOption" })<div class="LeftPad20 SearchMediumText">@Search.AboutMe</div>
					</div>
					<div class="BlackText FullWidth FloatLeft TopPad5">
						@Html.CheckBoxFor(m => m.ProfileSearch.SearchBirthday, new { id = "chkSearchBirthday", @class = "FloatLeft ProfileSearchOption" })<div class="LeftPad20 SearchMediumText">@Search.Birthday</div>
					</div>
					<div class="BlackText FullWidth FloatLeft TopPad5">
						@Html.CheckBoxFor(m => m.ProfileSearch.SearchHometown, new { id = "chkSearchHometown", @class = "FloatLeft ProfileSearchOption" })<div class="LeftPad20 SearchMediumText">@Search.Hometown</div>
					</div>
					<div class="BlackText FullWidth FloatLeft TopPad5">
						@Html.CheckBoxFor(m => m.ProfileSearch.SearchTvShows, new { id = "chkSearchFavoriteShows", @class = "FloatLeft ProfileSearchOption" })<div class="LeftPad20 SearchMediumText">@Search.FavoriteShows</div>
					</div>
					<div class="BlackText FullWidth FloatLeft TopPad5">
						@Html.CheckBoxFor(m => m.ProfileSearch.SearchMusic, new { id = "chkSearchFavoriteMusic", @class = "FloatLeft ProfileSearchOption" })<div class="LeftPad20 SearchMediumText">@Search.FavoriteMusic</div>
					</div>
					<div class="BlackText FullWidth FloatLeft TopPad5">
						@Html.CheckBoxFor(m => m.ProfileSearch.SearchMovies, new { id = "chkSearchFavoriteMovies", @class = "FloatLeft ProfileSearchOption" })<div class="LeftPad20 SearchMediumText">@Search.FavoriteMovies</div>
					</div>
					<div class="BlackText FullWidth FloatLeft TopPad5">
						@Html.CheckBoxFor(m => m.ProfileSearch.SearchBooks, new { id = "chkSearchFavoriteBooks", @class = "FloatLeft ProfileSearchOption" })<div class="LeftPad20 SearchMediumText">@Search.FavoriteBooks</div>
					</div>
					<div class="BlackText FullWidth FloatLeft TopPad5">
						@Html.CheckBoxFor(m => m.ProfileSearch.SearchQuotes, new { id = "chkSearchFavoriteQuotes", @class = "FloatLeft ProfileSearchOption" })<div class="LeftPad20 SearchMediumText">@Search.FavoriteQuotes</div>
					</div>
				</div>
				<div class="QuarterWidth FloatLeft">
					<div class="SearchNormalBoldText Bold FullWidth FloatLeft">@Search.WorkHistory</div>
					<div class="BlackText FullWidth FloatLeft TopPad10">
						@Html.CheckBoxFor(m => m.ProfileSearch.SearchEmpName, new { id = "chkSearchEmpName", @class = "FloatLeft ProfileSearchOption" })<div class="LeftPad20 SearchMediumText">@Search.EmployerName</div>
					</div>
					<div class="BlackText FullWidth FloatLeft TopPad5">
						@Html.CheckBoxFor(m => m.ProfileSearch.SearchEmpCity, new { id = "chkSearchEmpCity", @class = "FloatLeft ProfileSearchOption" })<div class="LeftPad20 SearchMediumText">@Search.EmployerCity</div>
					</div>
					<div class="BlackText FullWidth FloatLeft TopPad5">
						@Html.CheckBoxFor(m => m.ProfileSearch.SearchWHPosition, new { id = "chkSearchWHPosition", @class = "FloatLeft ProfileSearchOption" })<div class="LeftPad20 SearchMediumText">@Search.Position</div>
					</div>
					<div class="BlackText FullWidth FloatLeft TopPad5">
						@Html.CheckBoxFor(m => m.ProfileSearch.SearchWHTimePeriod, new { id = "chkSearchWHTimePeriod", @class = "FloatLeft ProfileSearchOption" })<div class="LeftPad20 SearchMediumText">@Search.EmployementTime</div>
					</div>
					<div class="BlackText FullWidth FloatLeft TopPad5">
						@Html.CheckBoxFor(m => m.ProfileSearch.SearchWHResp, new { id = "chkSearchWorkHistoryResp", @class = "FloatLeft ProfileSearchOption" })<div class="LeftPad20 SearchMediumText">@Search.WorkHistoryResp</div>
					</div>
				</div>
				<div class="QuarterWidth FloatLeft">
					<div class="SearchNormalBoldText Bold FullWidth FloatLeft">@Search.Education</div>
					<div class="BlackText FullWidth FloatLeft TopPad10">
						@Html.CheckBoxFor(m => m.ProfileSearch.SearchSchoolName, new { id = "chkSearchSchoolName", @class = "FloatLeft ProfileSearchOption" })<div class="LeftPad20 SearchMediumText">@Search.SchoolName</div>
					</div>
					<div class="BlackText FullWidth FloatLeft TopPad5">
						@Html.CheckBoxFor(m => m.ProfileSearch.SearchClassYear, new { id = "chkSearchClassYear", @class = "FloatLeft ProfileSearchOption" })<div class="LeftPad20 SearchMediumText">@Search.ClassYear</div>
					</div>
					<div class="BlackText FullWidth FloatLeft TopPad5">
						@Html.CheckBoxFor(m => m.ProfileSearch.SearchConcentration, new { id = "chkSearchConcentration", @class = "FloatLeft ProfileSearchOption" })<div class="LeftPad20 SearchMediumText">@Search.Concentration</div>
					</div>
				</div>
				<br class="Clear" />
				<div class="Width48PC FloatLeft TopPad20">
					<div class="FloatRight LeftPad5"></div>
					<div class="FloatRight"></div>
				</div>
				<div class="Width48PC FloatLeft TopPad20">
					<div class="FloatRight LeftPad5">
						<input type="button" data-isprofilesearch="true" data-isadvancedsearch="false" data-detailview="4" id="btnProfileSearch" class="ProfileSearchLink StandardButton Active" value="@Search.SearchText">
					</div>
					<div class="FloatRight"></div>
				</div>
				<br class="Clear" />
				<br class="Clear" />
			</div>
		</div>
	</div>
</div>

@if (Model.MessageText == null || Model.MessageText.Equals(string.Empty))
{
	<script type="text/javascript">
	$(function () {
		$('#ddlUserSearch').selectize({ create: false });
	});
	</script>
}