﻿@using Pebble.Resources
@model Pebble.MainWebSite.Models.SearchModel

@{
	ViewBag.Title = @Search.AdvancedSearch;
}

<div>
	<div class="ProgressImageInit CenterOfPage" id="loading">
		<img src="~/Images/90X25_Transparent.gif" />
	</div>
	<input type="hidden" id="hdnSearchTerm" name="hdnSearchTerm" value="@Model.SimpleSearchCriteria"/>
	<input type="hidden" id="hdnSaveSearchSuccessMessage" name="hdnSaveSearchSuccessMessage" value="@Search.SaveSearchSuccessMessage"/>
	<input type="hidden" id="hdnRequestToAccessFailure" name="hdnRequestToAccessFailure" value="@Groups.RequestToAccessFailure"/>
	<input type="hidden" id="hdnIsAdvancedSearch" name="hdnIsAdvancedSearch" value="@Model.IsAdvancedSearch.ToString().ToLower()"/>
	<input type="hidden" id="hdnIsProfileSearch" name="hdnIsProfileSearch" value="@Model.IsProfileSearch.ToString().ToLower()"/>

	@using (Html.BeginForm("Advanced", "Search", FormMethod.Post, new { id = "AdvancedSearchForm" }))
	{
		@Html.AntiForgeryToken()
		@Html.HiddenFor(m => m.ResultView, new { id = "hdnResultView" })
		@Html.HiddenFor(m => m.IsAdvancedSearch, new { id = "hdnFormIsAdvancedSearch" })
		@Html.HiddenFor(m => m.IsProfileSearch, new { id = "hdnFormIsProfileSearch" })
		 
			<div class="FloatLeft FullWidth" >
				 
			@Html.Partial("_AdvancedSearchCriteria", Model.AdvancedSearch, new ViewDataDictionary(Html.ViewDataContainer.ViewData)
				{
					TemplateInfo = new TemplateInfo { HtmlFieldPrefix = "AdvancedSearch" }
				})
				 
			</div>
		 
	}
</div>

 