﻿@using Pebble.MainWebSite.Models
@using Pebble.Resources
@model SearchModel

@{
	ViewBag.Title = @Search.SearchDetailTitle;
}

<div class="LightGraySearchBody PadTop20">
	<div class="ProgressImageInit CenterOfPage" id="loading">
		<img src="~/Images/90X25_Transparent.gif" />
	</div>
	@using (Html.BeginForm("Detail", "Search", FormMethod.Post, new { id = "DetailForm", @class = "" }))
	{
		<input type="hidden" id="hdnIsAdvancedSearch" name="hdnIsAdvancedSearch" value="@Model.IsAdvancedSearch.ToString().ToLower()"/>
		<input type="hidden" id="hdnIsProfileSearch" name="hdnIsProfileSearch" value="@Model.IsProfileSearch.ToString().ToLower()"/>
		<input type="hidden" id="hdnRequestToAccessFailure" name="hdnRequestToAccessFailure" value="@Groups.RequestToAccessFailure"/>
	    <input type="hidden" id="hdnViewName" name="hdnViewName" value="Detail" />
        <input type="hidden" id="hdnDetailResultView" name="hdnDetailResultView" value="@Model.ResultView" />
		@Html.HiddenFor(m => m.ResultView, new { id = "ResultView" })

	    <div class="FullWidth FloatLeft">
	        @if (!string.IsNullOrEmpty(Model.SimpleSearchCriteria))
	        {
	            <div class="FloatLeft ">
                    <br class="Clear" />
	                <span class="SearchGreenText">
						 
							@Search.Wefound@Html.Raw(" ")@string.Format("{0:N0}", Model.AllResultsCount)@Html.Raw(" ")@Search.ResultsFor@Html.Raw(" ")@Html.Raw("\"")@Model.SimpleSearchCriteria@Html.Raw("\"")
						 
	                </span>
                     
	            </div>			
	             
			}
	    </div>
          <br class="Clear"/>
		<div id="divSearchDetail" class="FullWidth">
			<br class="Clear" />
			<div id="divDetailSearchFilter" class="Float SearchDetailsLeftContent">
				<div id="divSearchFilter">
					@Html.Partial("_SearchFilter", Model)
				</div>
			</div>
			<div class="Float SearchDetailsRightContent ">
				  
				<div id="divResultDetail">
					@Html.Partial("_ResultsDetail", Model)
				</div>
				<div id="isloading" class="ProgressImageInit">
					<img src="~/Images/ajax-loader.gif" />
				</div>
			</div>
			
		</div>
	}
</div>


 