﻿@using Pebble.MainWebSite.Models
@model SearchModel
@using Pebble.Resources

@{
	ViewBag.Title = Search.SearchTitle;
}

<div class="LightGraySearchBody PadTop20">
	<div class="ProgressImageInit CenterOfPage" id="loading">
		<img src="~/Images/90X25_Transparent.gif" />
	</div>
	@Html.Hidden("hdnErrorCallingAjaxFunction", Common.ErrorCallingAjaxFunction, new { id = "hdnErrorCallingAjaxFunction" })
	@Html.Hidden("hdnFollowText", Common.Follow, new { id = "hdnFollowText" })
	@Html.Hidden("hdnUnfollowText", Common.Unfollow, new { id = "hdnUnfollowText" })
	<input type="hidden" id="hdnRequestToAccessFailure" name="hdnRequestToAccessFailure" value="@Groups.RequestToAccessFailure"/>
	<input type="hidden" id="hdnViewName" name="hdnViewName" value="Summary" />

	@using (Html.BeginForm("Summary", "Search", FormMethod.Post, new { id = "SummaryForm", @class = "WhiteSearchContentBox" }))
	{
		@Html.AntiForgeryToken()
		<div id="divSearchSummary" class="Pad5 FloatLeft">
			<input type="hidden" id="hdnSearchTerm" name="hdnSearchTerm" value="@Model.SimpleSearchCriteria"/>
		    <div class="SearchSummaryHeader" style="width:96%">
				<div class="ResultsSummaryHeader FullWidth FloatLeft">@Search.ResultsSummaryHeader</div>
		        
		        @Html.HiddenFor(m => m.ShowDetailResults, new { id = "hdnFormShowDetailResults" })
		        @if (Model.IsAdvancedSearch)
		        {
		            @Html.HiddenFor(m => m.RedirectToAdvancedSearch, new { id = "hdnRedirectToAdvancedSearch" })
		            @Html.HiddenFor(m => m.ResultView, new { id = "hdnFormResultView" })                   
		            @Html.HiddenFor(m => m.IsAdvancedSearch, new { id = "hdnFormIsAdvancedSearch" })
		            @Html.HiddenFor(m => m.IsProfileSearch, new { id = "hdnFormIsProfileSearch" })
		            @Html.HiddenFor(m => m.SimpleSearchCriteria, new { id = "hdnFormSimpleSearchCriteria" })
		            @Html.HiddenFor(m => m.AdvancedSearch.ProfileSearch.ProfileSearchText, new { id = "hdnProfileSearchText" })
		            @Html.HiddenFor(m => m.AdvancedSearch.ProfileSearch.SearchJobTitle, new { id = "hdnSearchJobTitle" })
		            @Html.HiddenFor(m => m.AdvancedSearch.ProfileSearch.SearchLocation, new { id = "hdnSearchLocation" })
		            @Html.HiddenFor(m => m.AdvancedSearch.ProfileSearch.SearchProjects, new { id = "hdnSearchProjects" })
		            @Html.HiddenFor(m => m.AdvancedSearch.ProfileSearch.SearchResp, new { id = "hdnSearchResp" })
		            @Html.HiddenFor(m => m.AdvancedSearch.ProfileSearch.SearchExpertise, new { id = "hdnSearchWorkExpertise" })
		            @Html.HiddenFor(m => m.AdvancedSearch.ProfileSearch.SearchWorkPhone, new { id = "hdnSearcWorkPhone" })
		            @Html.HiddenFor(m => m.AdvancedSearch.ProfileSearch.SearchCellPhone, new { id = "hdnSearchCellPhone" })
		            @Html.HiddenFor(m => m.AdvancedSearch.ProfileSearch.SearchFax, new { id = "hdnSearchFaxNumber" })
		            @Html.HiddenFor(m => m.AdvancedSearch.ProfileSearch.SearchMobileDeviceType, new { id = "hdnSearchMobileDeviceType" })
		            @Html.HiddenFor(m => m.AdvancedSearch.ProfileSearch.SearchActivities, new { id = "hdnSearchActivities" })
		            @Html.HiddenFor(m => m.AdvancedSearch.ProfileSearch.SearchInterests, new { id = "hdnSearchInterests" })
		            @Html.HiddenFor(m => m.AdvancedSearch.ProfileSearch.SearchAboutMe, new { id = "hdnSearchAboutMe" })
		            @Html.HiddenFor(m => m.AdvancedSearch.ProfileSearch.SearchBirthday, new { id = "hdnSearchBirthday" })
		            @Html.HiddenFor(m => m.AdvancedSearch.ProfileSearch.SearchHometown, new { id = "hdnSearchHometown" })
		            @Html.HiddenFor(m => m.AdvancedSearch.ProfileSearch.SearchTvShows, new { id = "hdnSearchFavoriteShows" })
		            @Html.HiddenFor(m => m.AdvancedSearch.ProfileSearch.SearchMusic, new { id = "hdnSearchFavoriteMusic" })
		            @Html.HiddenFor(m => m.AdvancedSearch.ProfileSearch.SearchMovies, new { id = "hdnSearchFavoriteMovies" })
		            @Html.HiddenFor(m => m.AdvancedSearch.ProfileSearch.SearchBooks, new { id = "hdnSearchFavoriteBooks" })
		            @Html.HiddenFor(m => m.AdvancedSearch.ProfileSearch.SearchQuotes, new { id = "hdnSearchFavoriteQuotes" })
		            @Html.HiddenFor(m => m.AdvancedSearch.ProfileSearch.SearchEmpName, new { id = "hdnSearchEmpName" })
		            @Html.HiddenFor(m => m.AdvancedSearch.ProfileSearch.SearchEmpCity, new { id = "hdnSearchEmpCity" })
		            @Html.HiddenFor(m => m.AdvancedSearch.ProfileSearch.SearchWHPosition, new { id = "hdnSearchWHPosition" })
		            @Html.HiddenFor(m => m.AdvancedSearch.ProfileSearch.SearchWHTimePeriod, new { id = "hdnSearchWHTimePeriod" })
		            @Html.HiddenFor(m => m.AdvancedSearch.ProfileSearch.SearchWHResp, new { id = "hdnSearchWorkHistoryResp" })
		            @Html.HiddenFor(m => m.AdvancedSearch.ProfileSearch.SearchSchoolName, new { id = "hdnSearchSchoolName" })
		            @Html.HiddenFor(m => m.AdvancedSearch.ProfileSearch.SearchClassYear, new { id = "hdnSearchClassYear" })
		            @Html.HiddenFor(m => m.AdvancedSearch.ProfileSearch.SearchConcentration, new { id = "hdnSearchConcentration" })

		            <div id="divAdvancedSearchSummaryView" class="FullWidth">
		                @Html.Partial("_AdvancedSearchSummary", Model)
		            </div>
		        }
		        else
		        {
		            <div id="divSearchPanel" class="SimpleSearchDiv">
		                <div id="divSearchLabel" class="FloatLeft LineHeight30 LeftPad5 SearchSemiBoldHeading">@Search.SearchLabelText</div>
		                <div id="divSearchCriteria" class="FloatLeft LineHeight30 LeftPad10">
		                    @Html.TextBoxFor(m => m.SimpleSearchCriteria, new { id = "txtSimpleSearchCriteria", @class = "SimpleSearchTextBox SearchTextBox" })
		                </div>
		                <div id="divButtonSearch" class="FloatLeft LineHeight30 LeftPad10 VerticalAlignMiddle" >
		                    <input type="button" id="btnSummarySearch" class="SearchButton StandardButton Active" value="@Search.SearchText">
		                </div>
		                <div id="divAdvancedSearchLabel" class="FloatLeft MarginLeft20PX LineHeight30">
		                    <a id="lnkShowAdvancedSearch" class="SearchLinkButton" href="/Search/Advanced?simpleSearchCriteria=@Model.SimpleSearchCriteria">@Search.AdvancedSearch</a>
		                </div>
		            </div>
		        }
		    </div>
			<div id="divSearchResults" class="DivSearchResults FullWidth FloatLeft WhiteSearchContentBox">
				@Html.Partial("_ResultsSummary", Model)
			</div>
		</div>
		<div class="Clear"></div>
	}
</div>

@if (Model.IsAdvancedSearch)
{
	<script type="text/javascript">
	$(function () {
		HighlightSearchTermAdv($('#txtGroupNameOrDesc').val(), '.GroupSearchItem .SearchContent');
		HighlightSearchTermAdv($('#txtMemberName').val(), '.MemberSearchItem .SearchContent');
		HighlightSearchTermAdv($('#txtLocation').val(), '.ProfileSearchItem .SearchContent');
		HighlightSearchTermAdv($('#txtBusinessUnit').val(), '.ProfileSearchItem .SearchContent');
		HighlightSearchTermAdv($('#txtHashTag').val(), '.MessageSearchItem .SearchContent');
		HighlightSearchTermAdv($('#txtDepartment').val(), '.ProfileSearchItem .SearchContent');
		HighlightSearchTermAdv($('#txtMessageText').val(), '.MessageSearchItem .SearchContent');

		$('.GroupName').shorten({ showChars: '10' });
	});
	</script>
}